body {
  background-color: grey;
}

.col-edit{
    padding: 0;
}

.box {
  height: 600px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 200px;

  .left {
    background-color: rgb(192, 192, 192);
    height: 600px;
    display: flex;
    align-items: center;

    .content{
        width: 407px;
        height: 600px;

        .item{
            cursor: pointer;
            display: flex;
            align-items: center;

            p{
                height: 120px;
                margin: 0;
                font-size: 30px;
                padding-left: 50px;
                display: flex;
                align-items: center;
            }

            i{
              margin-left: 210px;
              font-size: 25px;
            }
        }
    }
  }

  .right {
    background-color: white;
    height: 600px;

    .item{
      padding: 30px;
    }
  }
}


.active-tab{
    background-color: rgb(228, 228, 228);
}